.dropdown-container select{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;

    
    font-family: Arial;
    background-color: rgba(89, 89, 89, 0.13);
    background-image: linear-gradient(to top, #313131, #444444 33%);
    color: #E1C597;
    background: rgba(19, 19, 19, 0.623);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
