.block {
    animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}