:root {
  --house-color: #a43924;
  --door-color: #c2c2c2;
  --window-color: #96ecffe0;
  --window-border-color: #ffffffe8;
}

.house-container {
    z-index: 100;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.house {
    position: absolute;
    top: 50vh;
    /* left: 45%; */
    height: 200px;
    width: 260px;
    background: var(--house-color);
  }
  .house::before {
    content: '';
    position: absolute;
    top: -95px;
    left: 33px;
    height: 183px;
    width: 183.5px;
    background: var(--house-color);
    transform: rotate(45deg);
    border-top: 10px solid #48493f;
    border-left: 10px solid #1B2422;
    z-index: 2
  }
  .house::after {
    content: '';
    position: absolute;
    top: -70px;
    left: 15px;
    height: 70px;
    width: 30px;
    background: #824734;
    z-index: 1;
  }
  .window {
    top: 25px;
    left: 45px;
    height: 60px;
    width: 50px;
    background: var(--window-color);
    z-index: 3;
    position: absolute;
    border-top: 7px solid var(--window-border-color);
    border-right: solid var(--window-border-color);
    border-bottom: solid var(--window-border-color);
    border-left: solid var(--window-border-color);
  }
  .window::before,
  .window::after {
    content: '';
    position: absolute;
    background: var(--window-border-color);
  }
  .window::before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    position: absolute;

  }
  .window::after {
    top: 50%;
    height: 2px;
    width: 100%;
    position: absolute;
  }
 
  .door {
    top: 70px;
    left: 150px;
    height: 130px;
    width: 70px;
    background: var(--door-color);
    z-index: 3;
    position: absolute;

  }
  
  .door::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid #616161;
    background: #a59d9d;
  }
  

  @media only screen and (max-width: 700px) {
    .house {
      top: 55%; 
      left: 35%;
      height: 70px;
      width: 130px;
    }

    .house::before {
      top: -48px;
      left: 18px;
      height: 83px;
      width: 83.5px;
    }

    .door {
      top: 5px;
      left: 70px;
      height: 60px;
      width: 30px;
    }

    .door::before {
      right: 5px;
      height: 3px;
      width: 3px;
    }

    .window {
      top: 15px;
      left: 25px;
      height: 30px;
      width: 25px;
    }
  }