.ocean-sunset-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* justify-content: start; */
    
    width: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    margin-bottom: 100px;
    z-index: 0;
    transition: all .9s ease-in-out;

}

.ocean-sunset-container .row-container {
    display: flex;
    flex-direction: row;
    
}

.cursor {
    transform: scale(1.4);
    mix-blend-mode: difference;
    background: white;
  }

  .info-button-container {
    position: absolute;
    z-index: 99999;
    bottom: 1%;
    right: 1%;
    cursor: pointer;

}

.time-of-day-select-container {
    position: absolute;
    z-index: 99999;
    bottom: 1.5%;
    right: 4%;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .time-of-day-select-container {
        position: absolute;
        z-index: 999999999;
        bottom: 1.5%;
        right: 10%;
        cursor: pointer;
    }
  }
