.menu-bar-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    // font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    

    position: fixed;
    top: 0;
    left: 0;
    // padding-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 99999;
    background: transparent;
    background-color: transparent;
    
}



.menu-web-name-link {
    color: #ffffff;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    background: transparent;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .15cm;

}

.menu-web-name-link img {
    max-width: 8%;
    min-width: 50px;
    height: auto;

}

.menu-about {
    // position: relative;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 3vw;
    font-weight: 700;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: .02cm;
}

.menu-web-name {
    font-size:.05cm;
    width: 100vw;
    
    background: none;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 20%;
    
    
}

.nav-menu-grid-button {
    display: none;
}

.nav-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 3vh;
    right: 3vw;

    // float: right;
    // padding-top: 5vh;
}

.menu-web-link {
    margin-right: 10%;
    font-size: .3cm;

    color: #ffffff;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    background: transparent;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .08cm;
    
}
.menu-web-link-dark {
    margin-right: 10%;
    font-size: .4cm;

    color: #000;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    background: transparent;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .08cm;
}

@media only screen and (max-width: 700px) {
    .nav-menu-grid-button {
        display: block;
        position: absolute;
        top: 35%;
        right: 10%;
    }

    .nav-menu-buttons {
        display: none;
    }

    .menu-web-name-link img {
        max-width: 80%;
        min-width: 50px;
        height: auto;
    }

    .menu-web-name-link {

        margin-left: 20%;
    }
    
    }