.menu-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 100%;
    height: 100px;
    /* background-color: #131313f3; */
    /* background: blur(5px);     */
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 2vh;
    margin-bottom: 100px;
    z-index: 9999;

    color: #ffffffb9;
}