.grid-menu-container {

}

.grid-menu-container .grid-menu {

}

.grid-menu-container .grid-menu .grid-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    width: 80vw;
    height: 90vh;
}

.item {
    /* border-radius: 100%; */
    width: 150px;
    height: 150px;
    background-color: red;
    border: 2px solid black;
}

.example {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    color: red;
    border: 30px solid red;
    z-index: 9999999999999999;
}