@font-face {
  font-family: 'Sequel Sans';
  src: url('./Assets/fonts/Sequel-Sans/Sequel-Sans/SequelSansTTF/SequelSansBookDisp.ttf') format('embedded-opentype'), /* Internet Explorer */
       url('./Assets/fonts/Sequel-Sans/Sequel-Sans/SequelSansTTF/SequelSansBookDisp.ttf') format('woff2'),             /* Super Modern Browsers */
       url('./Assets/fonts/Sequel-Sans/Sequel-Sans/SequelSansTTF/SequelSansBookDisp.ttf') format('woff'),              /* Pretty Modern Browsers */
       url('./Assets/fonts/Sequel-Sans/Sequel-Sans/SequelSansTTF/SequelSansBookDisp.ttf') format('truetype'),          /* Safari, Android, iOS */
       url('./Assets/fonts/Sequel-Sans/Sequel-Sans/SequelSansTTF/SequelSansBookDisp.ttf') format('svg');               /* Legacy iOS */
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./Assets/fonts/coolvetica/coolvetica-rg.otf') format('embedded-opentype'), /* Internet Explorer */
       url('./Assets/fonts/coolvetica/coolvetica-rg.otf') format('woff2'),             /* Super Modern Browsers */
       url('./Assets/fonts/coolvetica/coolvetica-rg.otf') format('woff'),              /* Pretty Modern Browsers */
       url('./Assets/fonts/coolvetica/coolvetica-rg.otf') format('truetype'),          /* Safari, Android, iOS */
       url('./Assets/fonts/coolvetica/coolvetica-rg.otf') format('svg');               /* Legacy iOS */
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  // 'Coolvetica', 'Sequel Sans Semi Bold Body', 'Ariel', 
  font-family: 'Helvetica Neue','Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    sans-serif;
    letter-spacing: .05cm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-smooth: always;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background: #97bde17d; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #97bde17d; /* Gecko Browsers */
}